@charset "UTF-8";
:root {
  /*основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /*светлая тема текста*/
  --accent-txt-cl: #ffffff;
  --primary-txt-cl: #757575;
  --footer-txt-cl: rgba(255, 255, 255, 0.6);
  /*темная тема текста*/
  --title-txt-cl: #212121;
  --secondary-txt-cl: #2196f3;
  /*темная тема фона*/
  --main-bg-cl: #2f303a;
  --section-bg-cl: #f5f4fa;
  /*цвет border*/
  --top-border-cl: #ececec;
  --border-cl: #eeeeee;
  /*цвет иконок*/
  --icon-color: #afb1b8;
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --about-element-cl: rgba(47, 48, 58, 0.8);
  /*цвет овэрлэй*/
  --overlay-color: rgba(33, 150, 243, 0.9);
  /*цвет бэкдроп*/
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  /*переходы*/
  --time-change: 250ms;
  --time-steps: cubic-bezier(0.4, 0, 0.2, 1)
;
}

/*скрываем удаленный заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p {
  margin-bottom: 0;
}

/*сброс списков*/
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--accent-txt-cl);
  color: var(--primary-txt-cl);
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

/*главная кнопка*/
.hero__btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: transparent;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
  background-color: var(--secondary-txt-cl);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*общий блок подзаголовков*/
.subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

/*общий блок описания*/
.descr {
  font-weight: 400;
}

/*лого*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1170px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

/*header logo*/
.logo-accent {
  color: var(--title-txt-cl);
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-button {
    position: relative;
    z-index: 50;
    display: inline-flex;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .header-button .header-button__menu {
    display: none;
  }
  .header-button .header-button__cross {
    display: block;
  }
  .header-button.is-active .header-button__menu {
    display: block;
  }
  .header-button.is-active .header-button__cross {
    display: none;
  }
  .header-button:hover, .header-button:focus {
    fill: var(--secondary-txt-cl);
  }
}

@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-container {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 480px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    background-color: var(--accent-txt-cl);
  }
  .mobile-container.is-open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-list__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-txt-cl);
  }
}

@media screen and (max-width: 767px) {
  .mobile-group {
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__item:nth-child(-n + 1) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__link--color {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials__item {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials__link {
    display: block;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
  }
}

@media screen and (max-width: 767px) {
  .mobile-socials__item:last-child .mobile-socials__link {
    padding: 0;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-list__item {
  position: relative;
  margin-right: 50px;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
  transition-property: color;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--secondary-txt-cl);
}

.nav-list__link--current::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--secondary-txt-cl);
  border-radius: 2px;
}

/*Header*/
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--top-border-cl);
  background-color: var(--accent-txt-cl);
  /*header навигация*/
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    justify-content: center;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-top: 21px;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-top: 0;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  transition-property: color;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

@media screen and (min-width: 768px) {
  .contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-link:hover, .contact-link:focus {
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 768px) {
  .contact-link__item {
    margin-bottom: 10px;
  }
}

.contact-link__icon--mail {
  margin-right: 8px;
  fill: currentColor;
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contact-link__icon--mail {
    width: 16px;
    height: 12px;
  }
}

.contact-link__icon--phon {
  margin-right: 8px;
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contact-link__icon--phon {
    height: 16px;
  }
}

/*блок герой*/
.hero {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--main-bg-cl);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_sm.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_sm@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_md.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_md@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_lg.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_lg@2x.png);
  }
}

.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/*оформлєння інфо-блок*/
.benefits {
  width: 480px;
}

@media screen and (min-width: 768px) {
  .benefits {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    width: 1200px;
  }
}

.benefits-list {
  /*icon about*/
  /*text about*/
  /*стили для блок описания*/
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .benefits-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: 270px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  background: var(--section-bg-cl);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .benefits-list__container {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__container {
    width: 270px;
  }
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .benefits-list__description {
    margin-bottom: 0;
  }
}

.about {
  padding-top: 0px;
}

@media screen and (max-width: 1170px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-list {
  display: flex;
  /*мітка о нас*/
}

.about-list__item {
  position: relative;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
  background-color: var(--about-element-cl);
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

/*секция команда*/
.team {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  background-color: var(--section-bg-cl);
}

@media screen and (min-width: 768px) {
  .team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    width: 1200px;
  }
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    margin: 0px;
  }
}

.team-list__item {
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__wrapper {
    padding-bottom: 24px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.team-list__descr {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*ссылки соц.сети*/
.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--icon-color);
  transition-property: background-color, fill;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

.social-link:hover, .social-link:focus {
  background-color: var(--secondary-txt-cl);
  fill: var(--accent-txt-cl);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.client {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .client {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: 1200px;
  }
}

/*section client*/
.client-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .client-list {
    max-width: 1200px;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.client-item {
  width: 210px;
  flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client-item {
    width: 226px;
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: 170px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

.client-link:hover, .client-link:focus {
  fill: var(--secondary-txt-cl);
  border: 1px solid var(--secondary-txt-cl);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/*кнопки фильтр*/
.work-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .work-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .work-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    margin-bottom: 50px;
  }
}

.work-item-btn:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .work-item-btn:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.work-btn {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
  background-color: var(--section-bg-cl);
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
  /*фокус-ховер кнопки фильтр*/
}

.work-btn:hover, .work-btn:focus {
  background-color: var(--secondary-txt-cl);
  color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  width: 480px;
}

@media screen and (min-width: 768px) {
  .work {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    width: 1200px;
  }
}

.list-pic {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .list-pic {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-pic {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .list-pic__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-pic__item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .list-pic__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-pic__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-pic__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.list-pic__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

.list-pic__link:hover, .list-pic__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-text-wrapper {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--accent-txt-cl);
  border-right: 1px solid var(--border-cl);
  border-bottom: 1px solid var(--border-cl);
  border-left: 1px solid var(--border-cl);
}

@media screen and (min-width: 1200px) {
  .work-text-wrapper {
    width: 370px;
  }
}

/*цвет заголовков портфолио*/
.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-txt-cl);
}

/*описание работ*/
.work-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
}

.list-pic__thumb {
  position: relative;
  overflow: hidden;
}

.overlay-thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--time-change) var(--time-steps);
  background: var(--overlay-color);
}

.list-pic__link:hover .overlay-thumb,
.list-pic__link:focus .overlay-thumb {
  transform: translateY(0);
}

.overlay-thumb__txt {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

/*футер*/
.footer {
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 1170px) {
  .footer-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .footer-container__position {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1170px) {
  .footer-container__position {
    display: flex;
    margin-right: 93px;
  }
}

@media screen and (min-width: 1170px) {
  .address-wrapper:not(:last-child) {
    margin-right: 70px;
  }
}

/*соц мережі футер*/
.join-wrapper {
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .join-wrapper {
    margin-top: 0px;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0px;
}

.address-item .address-link {
  display: block;
  text-align: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.address-link-contact {
  display: block;
  text-align: center;
  font-style: normal;
  color: var(--footer-txt-cl);
}

.join-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-bg-icon);
  fill: var(--accent-txt-cl);
  transition-property: background-color, fill;
  transition-duration: var(--time-change);
  transition-timing-function: var(--time-steps);
  transition-delay: 100ms;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--secondary-txt-cl);
}

/*лого футер*/
.container-logo {
  margin-bottom: 20px;
}

.footer-logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/*замена цвета лого*/
.footer-logo-accent {
  color: var(--accent-txt-cl);
}

.mailing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: transparent;
  background-color: var(--secondary-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mailing-txt {
  margin-right: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
}

.mailing-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-txt-cl);
}

/*футер підписка*/
.mailing-title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 1170px) {
  .mailing-title {
    text-align: justify;
  }
}

@media screen and (min-width: 1170px) {
  .mailing-form {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .form-label {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1170px) {
  .form-label {
    margin-right: 12px;
  }
}

.form-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-cl);
  outline: none;
}

@media screen and (min-width: 768px) {
  .form-input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1170px) {
  .form-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.form-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-txt-cl);
}

.form-input:focus {
  border-color: var(--secondary-txt-cl);
}

/*модальное окно*/
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-cl);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--time-change) var(--time-steps);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-change) var(--time-steps);
}

.call-form {
  padding: 40px;
}

.form-contents {
  display: block;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-wrapper {
  position: relative;
}

.call-input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.call-input:focus + .icon-call, .call-input:hover {
  fill: var(--secondary-txt-cl);
  border-color: var(--secondary-txt-cl);
}

.icon-call {
  position: absolute;
  top: 14px;
  left: 15px;
}

.form-comment {
  margin-bottom: 20px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*кнопка закриття модалки*/
.clos-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--accent-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.clos-modal:hover, .clos-modal:focus {
  fill: var(--secondary-txt-cl);
}

.clos-icon {
  width: 11px;
  height: 11px;
}

.call-sabmit {
  display: block;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
  background: var(--secondary-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.agreement-label__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /*position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

.agreement-label__icon {
  margin-right: 7px;
  border: 1.2px solid var(--title-txt-cl);
  border-radius: 2px;
  fill: var(--accent-txt-cl);
}

.agreement-label__checkbox:checked + .agreement-label__icon {
  background-color: var(--secondary-txt-cl);
  border-radius: 2px;
  border-color: transparent;
}

.agreement-label__txt {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-txt-cl);
}

textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea:focus,
textarea:hover {
  border-color: var(--secondary-txt-cl);
}
/*# sourceMappingURL=main.css.map */