@charset "UTF-8";
:root {
  /*основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /*светлая тема текста*/
  --accent-txt-cl: #ffffff;
  --primary-txt-cl: #757575;
  --footer-txt-cl: rgba(255, 255, 255, 0.6);
  /*темная тема текста*/
  --title-txt-cl: #212121;
  --secondary-txt-cl: #2196f3;
  /*темная тема фона*/
  --main-bg-cl: #2f303a;
  --section-bg-cl: #f5f4fa;
  /*цвет border*/
  --top-border-cl: #ececec;
  --border-cl: #eeeeee;
  /*цвет иконок*/
  --icon-color: #afb1b8;
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --about-element-cl: rgba(47, 48, 58, 0.8);
  /*цвет овэрлэй*/
  --overlay-color: rgba(33, 150, 243, 0.9);
  /*цвет бэкдроп*/
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  /*переходы*/
  --time-change: 250ms;
  --time-steps: cubic-bezier(0.4, 0, 0.2, 1)
;
}

/*скрываем удаленный заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p {
  margin-bottom: 0;
}

/*сброс списков*/
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--accent-txt-cl);
  color: var(--primary-txt-cl);
}

.section {
  padding: 94px 0px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

/*главная кнопка*/
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 30px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: transparent;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
  background-color: var(--secondary-txt-cl);
}

.work-btn {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
  background-color: var(--section-bg-cl);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  /*фокус-ховер кнопки фильтр*/
}

.work-btn:hover, .work-btn:focus {
  background-color: var(--secondary-txt-cl);
  color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mailing-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0px;
  border: transparent;
  background-color: var(--secondary-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mailing-txt {
  margin-right: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
}

.mailing-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*общий блок подзаголовков*/
.subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

/*общий блок описания*/
.descr {
  font-weight: 400;
}

/*лого*/
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/*header logo*/
.header__logo {
  margin-right: 93px;
}

.logo-accent {
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

/*Header*/
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--top-border-cl);
  background-color: var(--accent-txt-cl);
  /*header навигация*/
}

.header__container {
  /*display: flex;*/
}

.header__nav {
  /*display: flex;
        align-items: center;*/
}

.nav-list {
  /*display: flex;*/
}

.nav-list__item {
  position: relative;
  margin-right: 50px;
}

.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--secondary-txt-cl);
}

.nav-list__link--current::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--secondary-txt-cl);
  border-radius: 2px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact-list__item:first-child {
  margin-right: 50px;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.contact-link:hover, .contact-link:focus {
  color: var(--secondary-txt-cl);
}

.contact-link__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*блок герой*/
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-bg-cl);
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

/*оформлєння інфо-блок*/
.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*icon about*/
  /*text about*/
  /*стили для блок описания*/
}

.benefits-list__item {
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  margin-right: 30px;
}

.benefits-list__item:last-child {
  margin-right: 0px;
}

.benefits-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: var(--section-bg-cl);
  border-radius: 4px;
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-list__description {
  font-size: 14px;
  line-height: 1.71;
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.about {
  padding-top: 0px;
  /*мітка о нас*/
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item {
  position: relative;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
  background-color: var(--about-element-cl);
}

/*секция команда*/
.team {
  background-color: var(--section-bg-cl);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item {
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.team-descr {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*ссылки соц.сети*/
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--icon-color);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.social-link:hover, .social-link:focus {
  background-color: var(--secondary-txt-cl);
  fill: var(--accent-txt-cl);
}

.social-icon {
  width: 20px;
  height: 20px;
}

/*section client*/
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.client-link:hover, .client-link:focus {
  fill: var(--secondary-txt-cl);
  border: 1px solid var(--secondary-txt-cl);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  width: 106px;
  height: 60px;
}

/*кнопки фильтр*/
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.work-item-btn:not(:last-child) {
  margin-right: 8px;
}

.work-list-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  padding-left: 0px;
}

.work-item-pic {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-item-pic:nth-child(3n) {
  margin-right: 0;
}

.work-item-pic:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.work-link:hover, .work-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-text-wrapper {
  width: 370px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--accent-txt-cl);
  border-right: 1px solid var(--border-cl);
  border-bottom: 1px solid var(--border-cl);
  border-left: 1px solid var(--border-cl);
}

/*цвет заголовков портфолио*/
.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-txt-cl);
}

/*описание работ*/
.work-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-txt-cl);
}

.thumb-work {
  position: relative;
  overflow: hidden;
}

.overlay-thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time-change) var(--time-steps);
  transition: -webkit-transform var(--time-change) var(--time-steps);
  transition: transform var(--time-change) var(--time-steps);
  transition: transform var(--time-change) var(--time-steps), -webkit-transform var(--time-change) var(--time-steps);
  background: var(--overlay-color);
}

.work-link:hover .overlay-thumb,
.work-link:focus .overlay-thumb {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-txt {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

/*футер*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-cl);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.address-wrapper:not(:last-child) {
  margin-right: 70px;
}

/*соц мережі футер*/
.join-wrapper {
  margin-right: 93px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0px;
}

.address-item .address-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.address-link-contact {
  font-style: normal;
  color: var(--footer-txt-cl);
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-bg-icon);
  fill: var(--accent-txt-cl);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: var(--time-change);
          transition-duration: var(--time-change);
  -webkit-transition-timing-function: var(--time-steps);
          transition-timing-function: var(--time-steps);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--secondary-txt-cl);
}

/*лого футер*/
.container-logo {
  margin-bottom: 20px;
}

.footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

/*замена цвета лого*/
.footer-logo-accent {
  color: var(--accent-txt-cl);
}

/*футер підписка*/
.mailing-title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-txt-cl);
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-label {
  margin-right: 12px;
}

.form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-cl);
  outline: none;
}

.form-input::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-txt-cl);
}

.form-input:-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-txt-cl);
}

.form-input::-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-txt-cl);
}

.form-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-txt-cl);
}

.form-input:focus {
  border-color: var(--secondary-txt-cl);
}

/*модальное окно*/
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-cl);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity var(--time-change) var(--time-steps);
  transition: opacity var(--time-change) var(--time-steps);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--time-change) var(--time-steps);
  transition: -webkit-transform var(--time-change) var(--time-steps);
  transition: transform var(--time-change) var(--time-steps);
  transition: transform var(--time-change) var(--time-steps), -webkit-transform var(--time-change) var(--time-steps);
}

.call-form {
  padding: 40px;
}

.form-contents {
  display: block;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-wrapper {
  position: relative;
}

.call-input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.call-input:focus + .icon-call, .call-input:focus {
  fill: var(--secondary-txt-cl);
  border-color: var(--secondary-txt-cl);
}

.icon-call {
  position: absolute;
  top: 14px;
  left: 15px;
}

.form-comment {
  margin-bottom: 20px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*кнопка закриття модалки*/
.clos-modal {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--accent-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.clos-modal:hover, .clos-modal:focus {
  fill: var(--secondary-txt-cl);
}

.clos-icon {
  width: 11px;
  height: 11px;
}

.call-sabmit {
  display: block;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-txt-cl);
  background: var(--secondary-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /*position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

.icon-mark {
  margin-right: 7px;
  border: 1.2px solid var(--title-txt-cl);
  border-radius: 2px;
  fill: var(--accent-txt-cl);
}

.checkbox:checked + .icon-mark {
  background-color: var(--secondary-txt-cl);
  border-radius: 2px;
  border-color: transparent;
}

textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

textarea:focus {
  border-color: var(--secondary-txt-cl);
}
/*# sourceMappingURL=main.css.map */