.client {
    min-width: 480px;
    @media screen and (min-width: $tablet) {
        min-width: $tablet;
    }
}
/*section client*/
.client-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-txt-cl);

    @media screen and (min-width: $desktopSecondary) {
        font-size: 36px;
        line-height: 1.17;
    }
}


.client-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
    margin: -15px;

    @media screen and (min-width: $desktopSecondary) {
        flex-wrap: nowrap;
        margin: 0;
    }
}

.client-item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;

    @media screen and (min-width: $desktopSecondary) {
        margin: 0;
    }

    &:not(:last-child) {
        @media screen and (min-width: $desktopSecondary) {
            margin-right: 30px;
        }
    }
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 92px;

    fill: var(--icon-color);

    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: fill, border;
    transition-duration: var(--time-change);
    transition-timing-function: var(--time-steps);
    transition-delay: 100ms;

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

    @media screen and (min-width: $desktopSecondary) {
        width: 170px;
    }

    &:hover,
    &:focus {
        fill: var(--secondary-txt-cl);
        border: 1px solid var(--secondary-txt-cl);
    }
}