/*лого футер*/
.container-logo {

    margin-bottom: 20px;
}

.footer-logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
}

/*замена цвета лого*/
.footer-logo-accent {
    color: var(--accent-txt-cl);
}