/*футер*/
.footer {
    display: block;
    min-width: 480px;
    max-height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--main-bg-cl);
    
}

.footer-container {
    @media screen and (min-width: $desktopSecondary) {
        display: flex;
        justify-content: center;
    }
}

.footer-container__position {
    @media screen and (min-width: $tablet) and (max-width: $desktopSecondary) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desktopSecondary) {
        display: flex;
        margin-right: 93px;
    }
}
.address-wrapper:not(:last-child) {
    @media screen and (min-width: $desktopSecondary) {
        margin-right: 70px;
    }
}

/*соц мережі футер*/
.join-wrapper {
    text-align: center;
    margin-top: 60px;

    @media screen and (min-width: $tablet) {
        margin-top: 0px;
    }
}

.footer-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--accent-txt-cl);
}

.address-item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0px;
    }
    
    & .address-link {
        display: block;
        text-align: center;

        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    
        letter-spacing: 0.03em;
    
        color: var(--accent-txt-cl);
    }
}

.address-link-contact {
    display: block;
    text-align: center;

    font-style: normal;
    color: var(--footer-txt-cl);
}

//посилання соц мережі
.join-list {
    display: flex;
    justify-content: center;

    margin-bottom: 60px;
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--footer-bg-icon);
    fill: var(--accent-txt-cl);

    transition-property: background-color, fill;
    transition-duration: var(--time-change);
    transition-timing-function: var(--time-steps);
    transition-delay: 100ms;

    &:hover,
    &:focus {
        background-color: var(--secondary-txt-cl);
    }
}
