@import './mobile-menu';
@import './hader-nav';

/*Header*/
.header {
    position: fixed;
    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    border-bottom: 1px solid var(--top-border-cl);
    background-color: var(--accent-txt-cl);

    @media screen and (min-width: $tablet) {
        height: 80px;
    }


    &__container {
        max-width: $mobile;
        
        @media screen and (min-width: $tablet) {
            max-width: $tablet;
            display: flex;
        }

        @media screen and (min-width: $desktop) {
            max-width: $desktop;
            justify-content: center;
        }
    }

    /*header навигация*/
    &__nav {
        display: flex;
        align-items: center;
        @media screen and (max-width: $tabletSecondary) {
            justify-content: space-between;
        }
    }
}

