@import './mobile-menu';
@import './hader-nav';

/*Header*/
.header {
    position: fixed;
    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;

    border-bottom: 1px solid var(--top-border-cl);
    background-color: var(--accent-txt-cl);

    @media screen and (max-width: $tabletSecondary) {
        
        height: 60px;
    }

    &__container {
        @media screen and (max-width: $tabletSecondary) {
            position: relative;
        }
        

        @media screen and (min-width: $tablet) {
            display: flex;
            align-items: center;
            min-height: 80px;
        }
    }

    /*header навигация*/
    &__nav {
        display: flex;
        align-items: center;
    }
}
