.contact-link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-txt-cl);

    transition-property: color;
    transition-duration: var(--time-change);
    transition-timing-function: var(--time-steps);
    transition-delay: 100ms;

    &:hover,
    &:focus {
        color: var(--secondary-txt-cl);
    }

    &__icon--mail {
        margin-right: 8px;
        fill: currentColor;
    
        width: 14px;
        height: 10px;
    }
    
    &__icon--phon {
        margin-right: 8px;
        
        width: 10px;
        height: 14px;
    }
}