@import "./mobile-menu";
@import "./hader-nav";

/*Header*/
.header {
  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  border-bottom: 1px solid var(--top-border-cl);
  background-color: var(--accent-txt-cl);

  @media screen and (min-width: $tablet) {
    height: 80px;
  }

  &__container {
    @media screen and (max-width: $mobile) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media screen and (min-width: $tablet) {
      width: $tablet;
      display: flex;
    }

    @media screen and (min-width: $desktop) {
      width: $desktop;
      justify-content: center;
    }
  }

  /*header навигация*/
  &__nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: $tabletSecondary) {
      justify-content: space-between;
    }
  }
}
