//секція робіт
.work {
    @media screen and (min-width: $tablet) {
       max-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}

.list-pic {
    width: 450px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
       display: flex;
       flex-wrap: wrap;

       margin: -30px;
    }

    &__item {
        @media screen and (min-width: $tablet) {
            width: 354px;
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 30px;
        }

        @media screen and (min-width: $desktop) {
            width: 370px;
        }

        &__item:nth-child(3n) {
            @media screen and (min-width: $desktopSecondary) {
                margin-right: 0;
            }
        }
        
        &__item:nth-last-child(-n + 3) {
            @media screen and (min-width: $desktopSecondary) {
                margin-bottom: 0px;
            }
        }
    }
}

.list-pic__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: var(--time-change);
    transition-timing-function: var(--time-steps);
    transition-delay: 100ms;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.work-text-wrapper {
    width: 354px;

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    background: var(--accent-txt-cl);
    border-right: 1px solid var(--border-cl);
    border-bottom: 1px solid var(--border-cl);
    border-left: 1px solid var(--border-cl);

    @media screen and (min-width: $desktopSecondary) {
        width: 370px;
    }
}

/*цвет заголовков портфолио*/
.work-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: var(--title-txt-cl);
}

/*описание работ*/
.work-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--primary-txt-cl);
}
