@import './reset';

.body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--accent-txt-cl);

    color: var(--primary-txt-cl);
}

.section {
    min-width: $mobile;
    padding: 60px 0px;

    @media screen and (min-width: $desktopSecondary) {
        min-width: $desktopSecondary;
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}